body{
    display: flex;  
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    background: url('/imagesuds/1.png') no-repeat;

    background-size: 100%;
}
.wrapper{
    width: 350px;   
    background: sandybrown;
    color: #fff;
    border: none;
    border-radius: 10px;
}
.wrapper h1 {
    font-size: 24px;
    text-align: center;
    color: blue;
    margin-left: 15px;
}

.a1 {
    font-size: 14px;
}
.in1{
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    border-color: blue;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}