
.TitrePrin {
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: white;
   text-align: center; 
}

.sousTitre {
    background-color: greenyellow;  
    font-size: 45px; 
    text-align: center;  
}

.sousTitre1,.sousTitre2 {
    background-color: greenyellow;  
    font-size: 45px; 
    text-align: center;  
}

.sousTitre3{
    position: fixed;
    background-color: rgb(67, 31, 199);  
    font-size: 50px; 
    text-align: center; 
    padding-left: 10%;  
    padding-right: 10%;  
    margin-left: 15%;
    color : white
}
